body{
    padding:0;
}

/*商品列表样式*/
li.product {background:#fff ;padding:1rem;border-bottom: 1px #ededed solid;}
li.product .img{width: 9rem;height: 9rem;background:no-repeat center center;background-size: cover;position: relative;margin-right: 10px;}
li.product div.title{ margin-top: 1rem;}
li.product .price{margin-top: 1rem;}
li.product .price span:first-of-type{font-size: 1.3rem}
li.product .price span:nth-of-type(2){font-size: 1.5rem}
li.product .price span:last-of-type{text-decoration: line-through;padding-left: 5px;font-size: 1.2rem}

/*收藏样式*/
li.product .shouCang{line-height:3rem;height: 3rem;font-size:1.2rem;margin-top:0.5rem;padding:0 0 0 24px;width: 4rem;background: url("../../public/images/base/shouCang.png") no-repeat left center;background-size: 19px}
li.product .yiShouCang{background-image: url("../../public/images/base/yiShouCang.png")}



