/*全部外边距和内边距都清0*/
*{  margin: 0;padding: 0;  }
/*清除所有的列表样式*/
li{
    list-style: none;
}
/*清浮动*/
.clearfix:after{content:"";display: block;clear: both}
/*头部视图*/
header{
    padding: 0 13.5%;
    border-bottom: 2px #e5e5e5 solid;
}
/*头部中的div样式*/
header div{
    float: left;
    color: #999999;
    line-height: 62px;
}
header div span{
    color: #00d051;
    text-decoration: underline;
}
header ul{
    float: right;
}
header ul li{
    float: right;
}
/*导航栏*/
nav{
    margin: 0 13.5%;
    height: 120px;
}
nav img{
    float: left;
}
nav div{
    margin: 30px 0;
    border: 2px #00ce42 solid;
    border-radius: 30px;
    color: #00ce42;
    text-align: center;
    float: right;
    line-height: 60px;
    width: 14.5%;
}
nav ul{padding: 0 11.6%;float: left;width: 52%}
nav ul li{margin: 0 2.1%;float: left}
nav ul li a{
    text-align: center;
    color: Black;
    font-weight: bold;
}