.slide-3 {
  background-color: #9993c1; }

  .slide-3 .item-text {
    width: 100%;
    color: #fff;
    font-size: 2rem;
    font-weight: bolder;
    position: absolute;
    top: 1rem;
    left: 0;
    right: 0;
    text-align: center; }
  .slide-3 .content {
    width: 90%;
    color: #000000;
    font-size: 1.2rem;
    font-weight: inherit;
    position: absolute;
    top: 5rem;
    left: 5%;
    text-align: left;
    border: 1px solid white;
    padding: 0.8rem;
    border-radius: 0.5rem; }
    .slide-3 .content .name {
      color: skyblue;
      font-size: 2rem; }
    .slide-3 .content .age {
      color: #ff3b30;
      font-size: 1.8rem; }
    .slide-3 .content .bookcount {
      color: lightsalmon;
      font-size: 2rem; }
    .slide-3 .content .att {
      color: powderblue;
      font-size: 1.5rem; }
    .slide-3 .content .guide {
      color: pink;
      font-size: 1.3rem; }

