.slide-2 {
  background-color: #5cc2f1; }
  .slide-2 .item-image {
    width: 28rem;
    height: 28rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 10rem;
    left: 0;
    right: 0;
    margin: auto;
    background-image: url("../images/github-2.png"); }
  .slide-2 .item-text {
    width: 100%;
    color: #fff;
    font-size: 3rem;
    font-weight: bolder;
    position: absolute;
    top: 3rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center; }
    .slide-2 .item-text span {
      color: #ff3b30; }
  .slide-2 .item-text1 {
    width: 100%;
    color: #fff;
    font-size: 2rem;
    font-weight: 300;
    position: absolute;
    bottom: 2rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center; }

