.slide-3 {
  background-color: #9993c1; }
  .slide-3 .item-image {
    width: 18rem;
    height: 18rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 4rem;
    left: 0;
    right: 0;
    margin: auto;
    background-image: url("../images/github-3.png"); }
  .slide-3 .item-text {
    width: 18rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    position: absolute;
    top: 2rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center; }
  .slide-3 .content {
    width: 90%;
    color: #000000;
    font-size: 0.7rem;
    font-weight: inherit;
    position: absolute;
    top: 4rem;
    left: 5%;
    margin: 0 auto;
    text-align: left;
    border: 1px solid white;
    padding: 0.6rem;
    border-radius: 0.5rem; }
    .slide-3 .content .name {
      color: skyblue;
      font-size: 0.8rem; }
    .slide-3 .content .age {
      color: #ff3b30;
      font-size: 0.8rem; }
    .slide-3 .content .bookcount {
      color: lightsalmon;
      font-size: 0.8rem; }
    .slide-3 .content .att {
      color: powderblue;
      font-size: 0.9rem; }
    .slide-3 .content .guide {
      color: pink;
      font-size: 0.8rem; }

