/*顶部区域*/
.top{
    width: 100%;
    height: 60px;
    background-color: black;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;/*防止下面nav绝对定位之后会覆盖当前的头部的定位*/
}
.top .topin{
    width: 1200px;
    margin: 0 auto;
    height:100%;
}
.topin .top_left{
    float: left;
    width: 190px;
    height: 100%;

}
.top_left>h1{
    width: 100%;
    height: 100%;
}
.top_left>h1>a{
    display: inline-block;
    width: 100%;
    height: 100%;
    background: url("../images/nubia-logo-inverse-x2-cn.png");
    background-size: cover;
}
.topin .top_right{
    float: right;
    width: 740px;
    height:100%;

}
.top_right .topnav{
    float: left;
    width: 550px;
    height: 100%;

}
.topnav>li{
    float: left;
}
.topnav>li>a{
    font-size: 16px;
    font-weight:bold;
    color: white;
    line-height: 60px;
    margin-left: 40px;

}
.top ul>li>a:hover{
    color: #e82c07;

}
.topnav>li>a:hover{
    color: #e82c07;
 }
.top_right .login{
    float: right;
    width: 150px;
    height: 100%;
    list-style: none;

}
.login>li{
    float: right;
    line-height: 60px;
    margin-left: 10px;
}
.login>li>a{
    color: #ccc;
}
.login>li>a:hover{
    color: #e82c07;
}
.login>li:nth-child(3){
    width: 22px;
    height: 20px;
    background: url("../images/loginlogo.png");
    margin-top: 20px;

}


/*广告区域*/
.banner{
    width: 100%;
    height: 1265px;
    position: relative;
}

    /*导航栏*/
.banner .navout{
    position: absolute;
    z-index: 998;/*防止下面轮播图相对定位之后会覆盖当前的导航栏的定位*/
    background-color: white;
    width: 100%;
    padding-top: 60px;
}
.banner .nav{
    width: 1200px;
    height:121px;
    margin: 0 auto;


}
.nav>ul{
    width: 100%;
    height: 100%;
    list-style: none;
    padding-left:75px;
    padding-right: 75px;
    box-sizing: border-box;
}
.nav>ul>li{
    width: 150px;
    height:100%;
    float: left;
    text-align: center;

}
.nav>ul>li:hover{
    border-bottom: 3px solid #ff3b30;
    box-sizing: border-box;
}
.nav img{
    width: 120px;
    height: 80px;
    margin-top: 15px;
}
.nav>ul>li p{
    color: #666;
}
.nav>ul>li span{
    color: #ff3b30;
}
    /*轮播图*/
.banner .figure{
    width: 100%;
    height: 1000px;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.figure>img{
    height: 100%;
    margin: 0 -100%;
}
.figure ol{
    width: 150px;
    height: 20px;
    position: absolute;
    left:50%;
    margin-left: -75px;
    bottom: 10px;
}
.figure ol>li{
    width: 8px;
    height: 8px;
    float: left;
    background-color: #ccc;
    margin-left:15px;
    border-radius: 50%;
    border: 2px solid transparent;
    transition: all 1s;
}
.figure ol>li:hover{
    border: 2px solid red;
    background-color: transparent;
    transform: scale(1.2,1.2);
}
    /*视频区*/
.banner .video{
    width: 1200px;
    height: 250px;
    margin: 0 auto;
    margin-top: 10px;
    position: relative;

}
.video>ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.video>ul>li{
    width: 396px;
    height: 250px;
    float: left;
    text-align: center;
    overflow: hidden;
    position: relative;

}
.video>ul>li>a>img{
    height: 100%;
    margin: 0 -100%;
    transition: all 3s;
}
.video>ul>li:hover img{
    transform: scale(0.95);
}
.video>ul>li h3{
    font-size: 18px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


/*内容区域*/
.content{
    width: 100%;
    height: 1883px;
}
.content>dl{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.content>dl>dt{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}
.content>dl>dt>h3{
    font-size: 35px;
    color: #333;
}
.content>dl>dt>p{
    color: #e83401;
    margin-top: 20px;
}
.content ul li{
    float: left;
    position: relative;
    overflow: hidden;
}
.content ul li>img{
    width: 100%;
    transition: all 1s;
}
.content .content_phone{
    width: 1200px;
    height: 1200px;
}
.content_phone>li:nth-child(1){
    width: 1200px;
    height: 395px;
    margin-bottom: 10px;
}
.content_phone>li:nth-child(2){
    width: 395px;
    height: 795px;
    margin-right: 10px;
}
.content_phone>li:nth-child(3){
    width: 795px;
    height: 390px;
    margin-bottom: 10px;
}
.content_phone>li:nth-child(4){
    width: 390px;
    height: 395px;
    margin-right: 10px;
}
.content_phone>li:nth-child(5){
    width: 395px;
    height: 395px;
}
.content_phone li:nth-child(2)>img,li:nth-child(4)>img,li:nth-child(5)>img{
    height: 100%;
}
.content_phone .phone_des{
    width: 200px;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    bottom: 20px;
    text-align: center;
}
.content_phone>li:nth-child(1)>img{
    width: 110%;
    margin-left: -100px;
}
.content_phone>li:nth-child(1):hover>img{
    margin-left: 0px;
}
.content_phone>li:nth-child(3)>img{
    width: 100%;
    margin-left: 0px;
}
.content_phone>li:nth-child(3):hover>img{
    width: 130%;
    margin-left: -200px;
}
.content_phone .scaleimg{
    transform: scale(1);
}
.content_phone li:hover .scaleimg{
    transform: scale(1.2);
}
.content_phone li:nth-child(1) .phone_des{
    left: 0%;
    margin-left: 1000px;
    bottom: 40px;
}
.phone_des>h4{
    font-size: 20px;
    color: #000;
}
.phone_des>p{
    font-size: 15px;
    margin-bottom: 10px;
    color: #999;
}
.phone_des>span{
    display: inline-block;
    color: #000;
    width: 108px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.content .content_accessories{
    width: 1200px;
    height: 300px;
    display: flex;
    justify-content: space-between;
}
.content_accessories>li{
    width: 295px;
    height: 300px;
    background-color: white;
    position: relative;
    overflow: hidden;
}
.content_accessories>li>img{
    transition: all 1s;
}
.content_accessories>li:hover img{
    transform: scale(1.1,1.1);
}
.content_accessories>li>p{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%,0);
    text-align: center;
}


/*底部区域*/
.bottom{
    width: 100%;
    height: 396px;
    background-color: #efeeeb;
    overflow: hidden;
}
.bottom>ul{
    margin-top: 75px;
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}
.bottom>ul>li{
    list-style: none;
    float: left;
    margin-left: 55px;
    text-align: center;
    font-size: 20px;
}
.bottomdetail li{
    font-size: 15px;
    color: #b2b4b1;
    line-height: 15px;
    margin-top: 10px;
}
.bottomdetail li:hover{
    color: #ff3b30;
}